
<div class="form-check form-check-inline">
    <input  type="radio" name="inlineRadioOptions"  >
    <label  for="inlineRadio1">{{'1 star('+one+')'}}</label>
  </div>
  <div class="form-check form-check-inline">
    <input  type="radio" name="inlineRadioOptions"  >
    <label  for="inlineRadio2">{{'2 star('+two+')'}}</label>
  </div>
  <div class="form-check form-check-inline">
    <input  type="radio" name="inlineRadioOptions"  >
    <label  for="inlineRadio3">{{'3 star('+three+')'}}</label>
  </div>
  <div class="form-check form-check-inline">
    <input  type="radio" name="inlineRadioOptions"  >
    <label  for="inlineRadio2">{{'4 star('+four+')'}}</label>
  </div>
  <div class="form-check form-check-inline">
    <input  type="radio" name="inlineRadioOptions"  >
    <label  for="inlineRadio3">{{'5 star('+five+')'}}</label>
  </div>