<p>register works!</p>
<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your data Added Successfully.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
<form [formGroup]="register" (ngSubmit)="collection()" >
    <div class="form-group">
        <label for="exampleInputEmail1">Name </label>
        <input type="text" class="form-control" ngModel formControlName="name" placeholder="Enter The Name">
        
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" ngModel formControlName="email" placeholder="Enter The email">
        
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" ngModel formControlName="password" placeholder="Enter The Password">
        
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    

</form>